PORT = port_no

DATABASE = "db name to use"
TEST_DB = "test db name"
PROD_DB = "prod db name"
USER = "mysql username"
PASSWORD = "mysql passsword"
HOST = "mysql passsword"
DIALECT = "mysql"

JWT_SECRET = "jwt secret"

NODE_ENV = "enviromnent"